  .scrollTop {
    position: fixed; 
    width: 40px;
    right: 20px;
    bottom: 20px;
    align-items: flex-end;
    height: 20px;
    justify-content: flex-end;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }